
html {
    height: auto;
    background-color: transparent !important;
}

::navbar {
    z-index: 200;
    box-shadow: 0 0 25px 2px var(--lumo-shade-20pct);
}

/** Main Layout */
.main-layout__span{
    margin-left:    5px;
    margin-right:   40px;
    margin-top:     20px;
    margin-bottom:  15px;
    font-size: x-large;
    font-weight: bold;
}

.main-layout__logo-teresa{
   display: block;
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    margin: 10px;
}

.main-layout__tabs{

}

.main-layout__tab{
    margin-left:    10px;
    margin-right:   10px;
}

/** Login layout */
.login-layout__panel{
    margin: auto;
    margin-top: 70px;
}

.login-layout__teresa{
    width: auto;
    height: 500px;
}

.login-layout__login{
    margin: auto;
    border-radius: var(--lumo-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.login-layout__form{
    width: 300px;
}

/** Exercise Layout */
.exercises-layout__status-ready{
    display: inline-block;
    align-self: center;
    border-radius: var(--lumo-border-radius);
    background: var(--lumo-shade-10pct);
    color: var(--lumo-secondary-text-color);
    padding: 10px 20px;
    font-size: var(--lumo-font-size-s);
    text-transform: capitalize;
    color: var(--lumo-tertiary-text-color);
    background: var(--lumo-primary-color-10pct);
}

.exercises-layout__status-in-progress{
    display: inline-block;
    align-self: center;
    border-radius: var(--lumo-border-radius);
    background: var(--lumo-shade-10pct);
    color: var(--lumo-secondary-text-color);
    padding: 10px 20px;
    font-size: var(--lumo-font-size-s);
    text-transform: capitalize;
    color: var(--lumo-primary-color);
    background: var(--lumo-primary-color-10pct);
}

.exercises-layout__status-success{
    display: inline-block;
    align-self: center;
    border-radius: var(--lumo-border-radius);
    background: var(--lumo-shade-10pct);
    color: var(--lumo-secondary-text-color);
    padding: 10px 20px;
    font-size: var(--lumo-font-size-s);
    text-transform: capitalize;
    color: var(--lumo-success-color);
    background: var(--lumo-success-color-10pct);
}

.exercises-layout__name{
    margin: 20px 40px;
}

.exercises-layout__game-info{
    margin:20px;
}

.exercises-layout__detail{
    margin: auto;
    margin-right: 20px;
}

.exercises-layout__card{
    background-image: linear-gradient(var(--lumo-contrast-10pct), transparent);
    border-radius: var(--lumo-border-radius);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: -webkit-fill-available;
    max-width: 800px;
    margin: 20px 100px;
    padding: 15px 30px;
}

.exercises-layout__header{
}

.exercises-layout__levels{
}

.exercises-layout__level{
    margin-left: 50px;
}

.exercises-layout__icon{
    margin-right: 10px;
}

.exercises-layout__blue{
    color: var(--lumo-primary-color);
}

.exercises-layout__green{
    color: var(--lumo-success-color);
}

.exercises-layout__orange{
    color: orange;
}

.exercises-layout__red{
    color: red;
}

.exercises-layout__grey{
    color: var(--lumo-tertiary-text-color);
}

.exercises-layout__score{

}


.exercises-layout__anchor{
    color: var(--lumo-body-text-color);
    font-size: large;
}

.exercises-layout__instructions{
    margin: auto;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
}

.exercises-layout__start{
}

/** Dactylographie layout*/
.dactylographie-layout__content{
}

.dactylographie-layout__model{
    font-size: xx-large;
    margin: auto;
    border-radius: var(--lumo-border-radius);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 50px;
    user-select: none;
}

.dactylographie-layout__text-field{
    margin: auto;
    margin-top: 30px;
    font-size: larger;
    --lumo-text-field-size: var(--lumo-size-xl);
}

/** Result layout */
.result-layout__result{
   padding: 40px;
   margin: auto;
   margin-top: 40px;
   background-image: linear-gradient(var(--lumo-contrast-10pct), transparent);
   border-radius: var(--lumo-border-radius);
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
   align-items:center;
}

.result-layout__no-score{
}

.result-layout__exercises{
    margin-top: 45px;
}

.result-layout__title{
    margin-bottom: 45px;
}

.result-layout__kpi{
    margin: 15px;
    font-size: large;
}

.result-layout__succeeded{
    color:green;
}

.result-layout__to-improved{
    color:orange;
}

.result-layout__failed{
    color:red;
}

/** Logout */
.logout-layout__logout{
}
